body {
    background-color: rgb(31, 109, 24);
    padding: 0px;
    margin: 0px;    
}

#app-wrapper {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
}

#main-screen {
    display: grid;
    grid-template-rows: 200px 100px 200px;
    grid-template-columns: 1fr;
    background-color:rgb(255, 255, 255);
    grid-row: 1 ;
    grid-column: 2/5;
    height: 100vh;
    width: auto;
    padding: 0px 100px;
}

#title {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin: 10px;
    grid-row: 1;
    padding: 0px 0px 0px 75px;
}

#search {   
    margin: 0;
    grid-row: 2;
    padding: 0px 0px 0px 60px;
}

#search-bar {
    width: 300px
}

#submit {
    border: none;
    width: 51px;
    height: 22px;
}

#player {
    grid-row: 3;
    width: 500px;
}

#output {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    grid-row: 1;
    grid-column: 1/2;
    height: 100vh;
    width: auto;

}
.item {
    background-color: lightgrey;
}

.target {
  margin: 0 auto;
  top: 25%;
  position: relative;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 5em;
  border-color: transparent transparent transparent #000;
  opacity: .75; 
}
